header {
  position: fixed;
  background-image: url("images/atmospheremoto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  background-position: center;
  width: 100%;
  top: 0px;
  left: 0px;
  box-shadow: 0px 5px 10px black;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("images/windyroad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    background-position: center;
    color: yellow;
    padding: 10px;
    margin-top: 100px;
}

h1 {
    color:  white;
    text-align: right;
    margin-right: 60px;
    font-size: 2.5em;
    font-family: Arial, sans-serif;
    line-height: .75em;
}

h2 {
    color: black;
    margin-left: 15px;
    margin-top: 60px;
}

h3 {
    color: black;
    margin-left: 10px;
    margin-bottom: -10px;
    /*padding-bottom: 10px;*/
}

h4  {
    color: white;
    text-align: right;
    margin-right: 60px;
    font-size: .9em;
    font-family: Arial, sans-serif;
    line-height: .5em;
}

p {
    font-family: Times, serif;
    margin-left: 15px;
    font-size: 1.1em;
}

li {
    font-family: Times, serif;
    font-size: 1.1em;
}

nav {
  position: fixed;
  width: 100%;
  top: 60px;
  left: 0px;
}

button {
  color: white;
  background-color: green;
  /*border-radius: 50%;*/
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: grey;
}

#sidebar {
  float: right;
  width: 200px;
  height: 600px;
  padding: 15px;
  margin-left: 25px;
  background-color: #0C2E09;
  color:white;
  padding-top: 40px;
}

li#sbli {
  font-size: .75em;
  font-family: sans-serif;
  list-style: none;
  line-height: 2em;
  margin-left: 15px;
}

#sbhead {
  font-family: sans-serif;
  color: lightgreen;
  font-size: 1.25em;
}

#sbtext {
  font-family: sans-serif;
  color: white;
  font-size: .75em;
}

#currentpg {
    background-color: #55BE55;
}

.content {
    background: rgba(76, 175, 80, 0.85);
    padding: 10px 25px 10px 25px;
    margin: -20px;
    /*border-radius: 5%;*/
}

.question {
  font-family: sans-serif;
  color: black;
  font-style: italic;
  font-size: 1em;
  margin-left: 10px;
  line-height: 1em;
}

.photos {
    display: inline;
}

/*.navbutton {
    height: 80px;
    width: 80px;
    line-height: 80px;
    display: inline;
    color: white;
    background-color: green;
    border-radius: 40px;
    text-align: center;
}*/

.navbutton {
    display: inline-block;
    float: left;
    height: 60px;
    width: 60px;
    line-height: 60px;
    margin-right: 20px;
    /*margin-top: 60px;*/

    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px black;

    background-color: darkgreen;
    color: white;
    text-align: center;
    font-size: .75em;
    font-family: Arial, sans-serif;
}

.navbutton:hover {
    background-color: darkgrey;
}

.navbutton:active {
    background-color: lightgrey;
}

.nav {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    display: inline;
}

.gameintro {
    color: yellow;
    margin-left: 20px;
    margin-top: 60px;
}

.gameintrosubs {
    color: yellow;
    margin-left: 20px;
    margin-top: 5px;
}

.response {
    color: white;
    font-family: sans-serif;
    margin-left: 10px;
    font-size: 1em;
    line-height: .9em;
}

.noindent {
  margin-left: 0px;
  padding: 0px;
}

.column1of2 , .column2of2 {
    width: 500px;
    float: left;
    margin: 10px;
}

.pagefiller {
  margin-bottom: 600px;
}
